body {
    background-color: aquamarine;
    position: relative;
    z-index: 100;
}

.slider-content {
    width: 1000px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 200px;
    border-radius: 10px;
}

.my-slides {
    transition: 0.3s all;
}

.hide {
    display: none;
}

.slider-control {
    position: relative;
    bottom: 50px;
    text-align: center;
}

.btn-slider-small {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #fff;
    display: inline-block;
    margin: 6px;
    cursor: pointer;
    transition: 0.2s all;
}

.btn-slider-small:hover {
    transform: scale(1.2);
}

.forcus {
    background-color: #fff;
}

.clearfix{
    float: none;
}

